<div class="container mt-5">
    <h1 class="text-center">Chào mừng đến với Hệ thống Ký Hợp Đồng Số</h1>
    <p class="text-center mt-3">Sử dụng chữ ký số RSA để tạo và xác thực hợp đồng một cách an toàn.</p>

    <div class="text-center mt-5">
        <a href="/contracts/create" class="btn btn-success btn-lg">Tạo Hợp Đồng</a>
        <a href="/sign/send" class="btn btn-primary btn-lg">Gửi Hợp Đồng</a>
        <a href="/contracts/user" class="btn btn-success btn-lg">Hợp Đồng chờ ký</a>
    </div>
</div>
