<div class="container mt-5">
    <h1 class="text-center">Chúc mừng bạn đã đăng ký thành công!</h1>
    <p class="text-center">Bạn có thể tải khóa riêng của mình bằng cách nhấn vào liên kết dưới đây:</p>
    <a id="downloadKey" class="btn btn-primary" href="data:text/plain;charset=utf-8,{{encodeURIComponent privateKey}}" download="privateKey.pem">Tải khóa riêng</a>
    <a id="downloadKey" class="btn btn-primary" href="data:text/plain;charset=utf-8,{{encodeURIComponent publicKey}}" download="publicKey.pem">Tải khóa công khai</a>
    <br><br>
    <button class="btn btn-success" id="loginButton" onclick="window.location.href='/users/login'">Đến trang đăng nhập</button>
</div>
