    <div class="container mt-5">
        <h2 class="mb-4">Cập nhật Hợp đồng</h2>
        <form id="contractForm" action="/contracts/update/{{contract._id}}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="contractTitle" class="form-label">Tiêu đề hợp đồng</label>
                <input type="text" class="form-control" name="title" id="contractTitle" placeholder="Nhập tiêu đề hợp đồng" value="{{contract.title}}" required>
            </div>
            <div class="mb-3">
                <label for="contractFile" class="form-label">Nội dung hợp đồng (PDF)</label>
                <div id="currentContractFile">
                    <embed src="/{{contract.contractFilePath}}" type="application/pdf" width="100%" height="600px" />
                </div>
            </div>
            <div class="mb-3">
                <label for="signerEmails" class="form-label">Danh sách email người ký</label>
                <input type="text" class="form-control" name="signerEmails" id="signerEmails" placeholder="Nhập email người ký, cách nhau bằng dấu phẩy" value="{{emails}}" required>
                <div class="form-text">Bạn có thể nhập nhiều email, cách nhau bằng dấu phẩy.</div>
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật Hợp đồng</button>
            <button type="button" class="btn btn-secondary" onclick="goBack()">Quay lại</button>
        </form>
        <div id="resultMessage" class="mt-4" style="display: none;">
            <div class="alert alert-success" role="alert">
                Hợp đồng đã được cập nhật thành công.
            </div>
        </div>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }   
        // Giả lập xử lý form
        document.getElementById('contractForm').addEventListener('submit', function(event) {
            // Không cần kiểm tra file input nữa
            // const fileInput = document.getElementById('contractFile');
            // if (fileInput.files.length === 0) {
            //     event.preventDefault(); // Chỉ ngăn chặn nếu không có file
            //     alert('Vui lòng tải lên file PDF.');
            //     return;
            // }
            // Không ngăn chặn hành động mặc định nếu tất cả điều kiện đều thỏa mãn
        });
    </script>